<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Maldonado.Danny_io-dmaldonado/src/maldonado/Danny_JavaLab2/Startup.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="maldonado.Danny_JavaLab2.Startup"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="checkmate.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Maldonado.Danny_io-dmaldonado"/>
</launchConfiguration>
